In [6]:
a = [1,2,3,4,5]

In [11]:
s = 0

s = s + 1
s = s + 2
s = s + 3
S = s + 4
s = s + 5

s

11

In [13]:
a = [1,2,3,4,5]

for x in a:
    print(x)

1
2
3
4
5

リストaの各要素をpと呼び　pをprintする。

In [15]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [16]:
a

[1, 2, 3, 4, 5]

In [21]:
s=0

for x in a:
    s = s + x
    
    
s/len(a)

3.0

In [22]:
s

15

In [24]:
(3148+2991+2966+2457)/4

2890.5

In [26]:
list_shikoku = [3148,2991,2966,2457]

s=0
for x in list_shikoku:
    s+=x

s/len(list_shikoku)

2890.5

In [27]:
from statistics import *

In [28]:
mean(list_shikoku)

2890.5

In [29]:
mean([1,2,3,4,5])

3

In [43]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [30]:
dic = {'A':100,'B':20,'C':3000}

In [31]:
dic['A']

100

In [44]:
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [46]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [48]:
for key in dict_tohoku:
    print(key)
    print(dict_tohoku[key])

aomori
5349
akita
4644
sendai
5344
Yamagata
4968
fukushima
6259
morioka
5478